extends layout

block content
  h1= title
  p Welcome to rig info panel
  
  div.divTable
        div.divRow
            div.divCell Scheduler execution count:
            div.divCell #{schedulerExecuteCounter}
        div.divRow.odd
            div.divCell Restart count:
            div.divCell #{rigState.restartCount}
        div.divRow
            div.divCell Last restart time:
            div.divCell #{rigState.restartedTime}
        div.divRow.odd
            div.divCell Soft restart count:
            div.divCell #{rigState.softRestartCount}    
        div.divRow.odd
            div.divCell Soft restart time:
            div.divCell #{rigState.softRestartTime}    
        div.divRow.odd
            div.divCell Warning count:
            div.divCell #{rigState.warningStateCount}
        div.divRow
            div.divCell Last warning time:
            div.divCell #{rigState.warningStartedTime}
  div.divTable
    - each lowHash, index in rigState.gpuLowHashCount
      - var rowBgCss = index % 2 == 0 ? 'even' : 'odd'
        div(class="divRow " + rowBgCss) 
            div.divCell GPU #{index} low hash count:
            div.divCell #{lowHash}